<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th>Customer</th>
        <th>PickUp Time</th>
        <th>Mobile</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
  <% @orders.each do |order| %>
  <tr>
  <td>
    <%= order.customer.name %>
  </td>
  <td><%= Slot.find(order.pslot_id).starttime.strftime("%d-%m-%y %-l:%M %P")  %></td>
  <td><%= order.customer.mobile %></td>
  <td><%= order.created_at.strftime("%d-%m-%y %-l:%M %P") %></td>
  </tr>
  <%end%>

  </tbody>
</table>
