<footer class="container footer-container">
    <div class="row">
        <div class="col-sm-6 col-sm-push-8 col-xs-12 mod-soc-links" style="font-size: 14px;">
           <ul class="social-links list-unstyled">
                <li>
                    <a href="https://www.facebook.com/getwashapp" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://twitter.com/get_WashApp" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                 
            </ul>

        </div>
        <div class="col-sm-offset-1 col-sm-4 col-sm-pull-7 col-xs-12 mod-nav-links">
             <ul class="footer-nav-links list-unstyled">
               <!--  <li>
                    <a href="offer-terms.html">Offer Terms</a>
                </li> -->
                <li>
                    <a href="privacy-policy.html" style = "color:#029fd6";>Privacy Policy</a>
                </li>
                <li>
                    <a href="terms.html" style = "color:#029fd6";>Terms of Use</a>
                </li>
                <!-- todo: Add a redirect for privacy-policy2 to privacy-policy and terms2 to terms in nginx-->
            </ul>
        </div>
    </div>
</footer>
