<div class="for-hideOption container bg-white main-navbar-wrapper">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 co-md-12 col-lg-9 mod-header">
            <nav class="navbar navbar-default main-navbar">
                <div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header mod-navbar">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#primary-navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="Assets/logo_header3.png" alt="WashAppLogo" class="img-responsive">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse text-right " id="primary-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li><a style="color:#1976D2;font-family:helveticaneuemedium" href="aboutus.html">ABOUT US</a></li>
                            <li><a style="color:#1976D2;font-family:helveticaneuemedium" href="faq.html">FAQ</a></li>
                            <li><a style="color:#1976D2;font-family:helveticaneuemedium" href="support.html">CONTACT</a></li>


                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </div>
</div>
