ul.nav.navbar-nav.navbar-right {
    font-family: 'Helvetica Neue';
    font-size: 12px;
    color: #6d757d;

}
.washapp-header-fixed{
        position: relative;
   
    
    -webkit-transition: all 0.25s linear;

    transition: all 0.25s linear;
    }
    .washapp-header-fixed.affix {
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;

}
@font-face {
    font-family: 'helveticaneue';
    src: url('Assets/font/helveticaneue-webfont.eot');
    src: url('Assets/font/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('Assets/font/helveticaneue-webfont.woff2') format('woff2'),
         url('Assets/font/helveticaneue-webfont.woff') format('woff'),
         url('Assets/font/helveticaneue-webfont.ttf') format('truetype'),
         url('Assets/font/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneueregular';
    src: url('Assets/font/helveticaneue_medium-webfont.eot');
    src: url('Assets/font/helveticaneue_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Assets/font/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('Assets/font/helveticaneue_medium-webfont.woff') format('woff'),
         url('Assets/font/helveticaneue_medium-webfont.ttf') format('truetype'),
         url('Assets/font/helveticaneue_medium-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('Assets/font/helveticaneue_light-webfont.eot');
    src: url('Assets/font/helveticaneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Assets/font/helveticaneue_light-webfont.woff2') format('woff2'),
         url('Assets/font/helveticaneue_light-webfont.woff') format('woff'),
         url('Assets/font/helveticaneue_light-webfont.ttf') format('truetype'),
         url('Assets/font/helveticaneue_light-webfont.svg#helveticaneuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneueultralight';
    src: url('helveticaneue-ultralight-webfont.eot');
    src: url('helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultralight-webfont.woff2') format('woff2'),
         url('helveticaneue-ultralight-webfont.woff') format('woff'),
         url('helveticaneue-ultralight-webfont.ttf') format('truetype'),
         url('helveticaneue-ultralight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuethin';
    src: url('Assets/font/helveticaneue_thin-webfont.eot');
    src: url('Assets/font/helveticaneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Assets/font/helveticaneue_thin-webfont.woff2') format('woff2'),
         url('Assets/font/helveticaneue_thin-webfont.woff') format('woff'),
         url('Assets/font/helveticaneue_thin-webfont.ttf') format('truetype'),
         url('Assets/font/helveticaneue_thin-webfont.svg#helveticaneuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

.sticky
{
    background-color: #1976d2;
}
.logo-color {
    background-color: #1976d2;
    border-color:transparent;
}
.sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    
}
.sticky-header-bottom{
    bottom:0px;
}
 .home-first-fold .left-column .fold-title {
    font-size: 30px;
   font-family: 'Helvetica Neue';
    color: #6d757d  ;
    font-weight:100;
}
.home-first-fold .center-column > img {
    max-height: 100%;
    display: inline-block;
    margin-top: 28px
}
.google-Play
{
    padding-top: 27px;
    
}
.why-simple-container
{
    background-color: #1976d2;
    border-color:transparent;
}
#download-now-


-app
{
    vertical-align: middle;
}


.download_div
{
    background-color: #36AAD3;
    margin: 0 auto;
    margin-top: -5px;
}
.make-yourself{
   
    background-color:#161616;
    margin: 0 auto;
}
.washApp_bottom
{
        margin-left: 48%;
        margin-top:10px;
}

.smallBtn{ padding-left: 0;}

.home-first-fold{
  color:#606060
}


/* tweaks and corrections */

/* Extra small and small devices 479*/ 
@media (min-width: 320px) and (max-width: 767px) { 

.mod-secondhalf>nav{
  min-height: 0;
  font-size: 1em !important;
}
.why-loveus>h2{
  font-size: 1.75em !important;
}

.nav > li {
    text-align: center;
}
    
.row{
    margin-left: 0;
    margin-right: 0;
} 

 .mod-header{
    margin:0;
    width: 100%;
 }
 .mod-slider{
    height: auto !important;
    padding: 1em !important;
 }
 .mod-slider>p{
    font-size: 1.5em !important;
 }
 .mod-center>p{
    margin:0.5em 0 !important;
    margin-top: 2em !important;
    font-size: 1.7em !important;
    
 }
 .mod-textcenter{
    padding: 1em !important;
 }
 .mod-items>img{
    width: 5em !important;
    height: 5em !important;
    margin: 1em;
    margin-left: 0;
 }

 .mod-items,
  .mod-items>div{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5em 0;

}
 .mod-items>div{
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align:left !important;

  }
  .mod-items>div>p
  {
    margin: 0 !important;
    padding: 0.6em;
  }

  .mytext{
    font-size:0.8em !important;
  }

  .mod-whyus{
    padding-bottom: 0;
    height: 200px;
  }
  .mod-whyus h2{
    font-size: 1.3em;
  }

  
  .mod-secondhalf img,
  .mod-secondhalf a{
    width: 90% !important;
    font-size: 0.7em;
  }
#mod-divfix{
padding-top: 0 !important;
}
#download-now-get-app{
    margin-top: 2.2% ! important;
}

.simple-is-container .img-responsive{
width: 60%;
margin-top: 2em;
margin-bottom: 1em;

    
}
.simple-is-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.simple-is-container .right-column{
    padding: 0 !important;

}
.simple-is-container .left-column{
    padding: 0 !important;
}
.simple-is-container .left-column h1{
    font-size: 1.3em  !important;
    margin:0.7em !important;
}
.simple-is-container .left-column .simple-is-subtitle{
    font-size: 1.15em  !important;
    text-align: justify;

}
.mgt-1{
    margin:1em !important;
}
.mod-prices{
    margin:1em !important;
        margin: 2em !important;
    margin-bottom: 0em !important;

}
.mod-listprices{
    padding: 0 !important;
}
.mod-listprices>div{
    padding:1em !important;

}

.mod-listprices>div>a>img,
.mod-listprices>div>img{
    width: 60% !important;
    height:auto !important;
}

.mod-message-policy>p{
     font-size: 1em !important;
    padding: 0 1em;
}

#get-app{
    padding: 0 !important;
    margin: 2em 0em !important;
}
#get-app-form{
    padding-bottom: 0 !important;
}
#phone{
    width: 100%;

}

.fold-subtitle{
    margin:2em 0em !important;
    margin-bottom: 1em !important;
}
.get-app-container .input-group .btn-primary{
    
}
 .modus-operandi-container{
    padding: 0;
 }

 .why-simple-container {
    height: 220px !important; 
  }


}



@media (min-width: 480px) and (max-width: 767px) {
    .nav > li {
    text-align: center
}
    
  .why-simple-container {
    height: 320px !important; 
  }

#phone{
   width: 318px;
 }
 .mod-center>p{
    font-size: 2.4em !important;
 }

 .mod-items>img {
    width: 7em !important;
    height: 7em !important;
  }
  .mod-items>div>p:first-child{
    font-size:1.1em !important;
  }
  .mytext {
    font-size: 1.3em !important;
}

#download-now-get-app {
    margin-top: 6.2% ! important;
}

.row {
    margin: 0 !important;
    }
}


/* Tablets and small devices at landscape */
@media (min-width: 768px) and (max-width: 991px) {  

.bluebutton{
        font-size: 15px !important;
        vertical-align: middle;
        padding-top: 5px;
    }

  .why-simple-container {
    height: 380px !important; 
  }
   
    .mod-slider{
        font-size: 12px;
    }


.row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
     .mod-textcenter{
    padding: 1em !important;
 }
.google-Play{
    padding: 0 !important;
}
.google-Play img{
width: 90% !important;
height:auto !important;
}
.mod-slider>p{
    font-size: 2em !important;
}

 .mod-items>img{
    width: 5em !important;
    height: 5em !important;
    margin: 1em;
 }

 .mod-items,
  .mod-items>div{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5em 0;
    padding: 0em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

}
 .mod-items>div{
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align:left !important;

  }
  .mod-items>div>p
  {
    margin: 0 !important;
    padding: 0.6em;
  }
  .mytext{
    font-size:1.1em !important;
  }
  .mod-textcenter{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

  }
  .mod-items>div>p:first-child{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .why-simple-container{
    height: 200px;
  }

.simple-is-container,
.simple-is-container .right-column,
  .simple-is-container .right-column .ghost-block{
    height: auto;
  }

  .simple-is-container .left-column{
    padding: 0;
    height: auto;
  }

.simple-is-container{
    margin: 1.5em 0;
}
.simple-is-container>div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}
.simple-is-container>div .left-column{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    
}

.simple-is-container .right-column img{
    width: 70%;
}
.simple-is-container .left-column .simple-is-subtitle{
    font-size: 1.2em;
}

.mod-listprices{
    padding: 2em !important;
}
.container, .download_div{
    width: auto;
}
.footer-container ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
 
}


/* about us */
     .mod-footer
        {
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        @media (min-width: 991px) {  
          #primary-navbar{
              margin: 0 10%;
          }
          .mod-row-aboutus{
            margin: 0 8%;
          }

        }

 
 /* prices */

   .container-prices>header>span:nth-child(odd){
        -webkit-box-flex:0;
        -webkit-flex:0 0 70%;
            -ms-flex:0 0 70%;
                flex:0 0 70%;

      }
      .container-prices>header>span{
        padding: 0.5em;
      }
      .container-prices>header>span:nth-child(even){
        text-align: right;
        -webkit-box-flex:0;
        -webkit-flex:0 0 30%;
            -ms-flex:0 0 30%;
                flex:0 0 30%;
      }
      .container-prices>header>span:nth-child(4n+2),
      .container-prices>header>span:nth-child(4n+1){
        background-color: #ECF4FB;
      }

      .container-prices>header>span:nth-child(2),
      .container-prices>header>span:nth-child(1){
         background-color: #A3C8ED;
      }

      .footer-container {
      text-align: center;
      margin: 0 !important;
      }

   @media (min-width: 320px) and (max-width: 767px) { 
      .container-prices
      {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
      }

      .container-prices>header
      {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        margin: 1em 0;
        width: 90%;
        font-size: 0.9em;
      }

      .navbar-header{
            margin: 0 1em;
      }
   
 

      
      }
      
    

      @media (min-width: 768px)  { 
      .container-prices
      {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
         -webkit-box-pack: justify;
         -webkit-justify-content: space-between;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         margin-bottom: 200px;
      }

      .container-prices>header
      {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        margin: 1em 0;
        width: 90%;
        font-size: 0.9em;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%;
      }

      .footer-container {
       
        width: 100%;
      text-align: center;
      margin: 0 !important;
      }



      } 
       @media (min-width: 992px) {
        nav>li{
               padding-left: 5px;
               padding-right: 5px;
           }

        .container-prices{
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around;
        }
        .container-prices>header
      {
        -webkit-box-flex:0;
        -webkit-flex:0 0 280px;
            -ms-flex:0 0 280px;
                flex:0 0 280px;
      }

       }
      

        /* privacy */
        .footer-fixx{
          position: initial !important;
        }

        /* prices fix */


@media (min-width: 992px){

  .why-simple-container {
    height: 500px !important; 
  }


  .mod-fix-1280{
    width: 1000px;
  }

}

@media (max-width: 767px){
.mgt-1{
color: #d3d3d3 !important;
  }
}

@media (min-width: 1200px) {
    .or{
        vertical-align: middle;
        height: auto;
    }

}

@media (min-width: 900px) and (max-width: 990px) {
    .bluebutton{
        font-size: 20px !important;
        vertical-align: middle;
        padding-top: 5px;
    }
    
}

@media (min-width: 992px) and (max-width: 1280px) {

    .bluebutton{
        font-size: 15px !important;
        vertical-align: middle;
        padding-top: 5px;
    }
    
    .mod-slider{
        font-size: 12px;
    }

.row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
     .mod-textcenter{
    padding: 1em !important;
 }
.google-Play{
    padding: 0 !important;
}
.google-Play img{
width: 90% !important;
height:auto !important;
}
.mod-slider>p{
    font-size: 2em !important;
}

 .mod-items>img{
    width: 5em !important;
    height: 5em !important;
    margin: 1em;
 }

  .why-simple-container{
    height: 200px;
  }

.simple-is-container,
.simple-is-container .right-column,
  .simple-is-container .right-column .ghost-block{
    height: auto;
  }

  .simple-is-container .left-column{
    padding: 0;
    height: auto;
  }

.simple-is-container{
    margin: 1.5em 0;
    margin-bottom: 20em;
}
.simple-is-container>div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}
.simple-is-container>div .left-column{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    
}

.simple-is-container .right-column img{
    width: 70%;
}
.simple-is-container .left-column .simple-is-subtitle{
    font-size: 1.2em;
}

.mod-listprices{
    padding: 2em !important;
}
.container, .download_div{
    width: auto;
}
.footer-container ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.mod-fix-3{
  width:50%;
}


}

.bluebutton{
       padding: 10px 10px 10px 36px;
    font-family: helveticaneuelight;   
    background: url(Assets/icn_mobile_spotlight.png) 10px 10px no-repeat;
   
    }


#download-now-get-app{
  border-radius: 5px;  
}

@media (min-width: 480px) and (max-width: 767px) {
    .why-loveus{
    margin-top:0px;
  }
}

@media (min-width: 768px){
    .why-loveus{
    margin-top: -50px;
  }
}
 

.btn-download {
  color: #fff;
  /* background-color: #f37430; */
  border-color: #ffffff;
  }
  .btn-download:focus, .btn-download.focus {
    color: #1976d2;
    background-color: #ffffff;
    border-color: #1976d2; }
  .btn-download:hover {
    color: #1976d2;
    background-color: #ffffff;
    border-color: #1976d2; }
  .btn-download:active, .btn-download.active, .open > .btn-download.dropdown-toggle {
    color: #fff;
    background-color: #e3580d;
    border-color: #c14b0b; }
    .btn-download:active:hover, .btn-download:active:focus, .btn-download:active.focus, .btn-download.active:hover, .btn-download.active:focus, .btn-download.active.focus, .open > .btn-download.dropdown-toggle:hover, .open > .btn-download.dropdown-toggle:focus, .open > .btn-download.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #1976d2;
      border-color: #ffffff; }
  .btn-download:active, .btn-download.active, .open > .btn-download.dropdown-toggle {
    background-image: none; }
  .btn-download.disabled, .btn-download.disabled:hover, .btn-download.disabled:focus, .btn-download.disabled.focus, .btn-download.disabled:active, .btn-download.disabled.active, .btn-download[disabled], .btn-download[disabled]:hover, .btn-download[disabled]:focus, .btn-download[disabled].focus, .btn-download[disabled]:active, .btn-download[disabled].active, fieldset[disabled] .btn-download, fieldset[disabled] .btn-download:hover, fieldset[disabled] .btn-download:focus, fieldset[disabled] .btn-download.focus, fieldset[disabled] .btn-download:active, fieldset[disabled] .btn-download.active {
    background-color: #f37430;
    border-color: #f26418; }

    @media (min-width: 768px) and (max-width: 1280px) {
    .bluebutton{
        font-size: 20px !important;
        vertical-align: middle;
        padding-top: 5px;
    }
    
}