<div id="customer-widget">
  <% if current_customer %>
    Welcome <strong><%= current_customer.name %></strong>!
    <%= link_to "Already Authorized", :controller =>
            'address', :action =>'index' %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

	 <div>
      <% if current_customer %>
        Signed in as <strong><%= current_customer.name %></strong>!
        <%= link_to "Already Authorized", :controller =>
                'address', :action =>'index' %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
