<!DOCTYPE html>
<html>
  <head>
    <title>WashApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  </head>

  <body>
    <%= nav_bar brand: "WashApp", responsive: true do %>

    <% end %>

  <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render partial: "shared/flash_messages", flash: flash %>
    </div>
    <%= yield %>
  </div>
</div>

  </body>
</html>
